<div class="card">
    <div class="card-header bg-dark">
        <h6 style="text-align: left; color:antiquewhite;">Grant Details</h6>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-md-2 stat-text-b">Grant Number</div>
            <div class="col-md-2 stat-text-b">Grantor</div>
            <div class="col-md-2 stat-text-b">Grant Name</div>
            <div class="col-md-2 stat-text-b">Nick Name</div>
            <div class="col-md-2 stat-text-b">Award Contract #</div>
            <div class="col-md-2 stat-text-b">CFDA #</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text">
                <h3><span class="badge badge-secondary">382</span></h3>
            </div>
            <div class="col-md-2 stat-text">NHTSA/MODOT/HWY SAFETY</div>
            <div class="col-md-2 stat-text">Occupant Protection Enforcement (CIOT) - FY19</div>
            <div class="col-md-2 stat-text">CLICK IT 19</div>
            <div class="col-md-2 stat-text">19-M2HVE-05-025</div>
            <div class="col-md-2 stat-text">20.600</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text-b">Division</div>
            <div class="col-md-2 stat-text-b">Project Director</div>
            <div class="col-md-2 stat-text-b">Accountant</div>
            <div class="col-md-2 stat-text-b">Award Date</div>
            <div class="col-md-2 stat-text-b">Project Start Date</div>
            <div class="col-md-2 stat-text-b">Remaining Balance</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text">FOB</div>
            <div class="col-md-2 stat-text">Lt. Brian Daniel</div>
            <div class="col-md-2 stat-text">Chelsea</div>
            <div class="col-md-2 stat-text">2018-08-07</div>
            <div class="col-md-2 stat-text">2018-10-01</div>
            <div class="col-md-2 stat-text">2019-09-30</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text-b">Application Due Date</div>
            <div class="col-md-2 stat-text-b">Forecast</div>
            <div class="col-md-2 stat-text-b">Award Amount</div>
            <div class="col-md-2 stat-text-b">Expenditures</div>
            <div class="col-md-2 stat-text-b">Remaining Balance</div>
            <div class="col-md-2 stat-text-b">Match %</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text">2018-02-28</div>
            <div class="col-md-2 stat-text">February</div>
            <div class="col-md-2 stat-text">$122,100.00</div>
            <div class="col-md-2 stat-text">$27,546.23</div>
            <div class="col-md-2 stat-text">$94,553.77</div>
            <div class="col-md-2 stat-text">27</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text-b">Extended Project Date</div>
            <div class="col-md-2 stat-text-b">Application Amount</div>
            <div class="col-md-2 stat-text-b">Grant Type</div>
            <div class="col-md-2 stat-text-b"></div>
            <div class="col-md-2 stat-text-b"></div>
            <div class="col-md-2 stat-text-b">Application Status</div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text">$133,200.00</div>
            <div class="col-md-2 stat-text">Federal - Competitive</div>
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text">Under Contract</div>
        </div>
    </div>
    <div class="card-footer">
        <input type="button" value="Update Grant" />
    </div>
</div>