<div class="card">
    <div class="card-header bg-dark">
        <h6 style="text-align: left; color:antiquewhite;">Comments</h6>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-md-2" stat-text-b></div>
            <div class="col-md-6" stat-text-b></div>
            <div class="col-md-2" stat-text-b></div>
            <div class="col-md-2" stat-text-b></div>
        </div>
        <div class="row">
            <div class="col-md-2 stat-text">6/13/2019</div>
            <div class="col-md-6 stat-text">HH Application Notes - HSD Portal/Angie Hoecker, 36 CIOT Projects ($3,700
                per project)</div>
            <div class="col-md-2 stat-text">haarmh@mshp.state.mo.us</div>
            <div class="col-md-2 stat-text"><input type="button" value="Delete Comment" /></div>
        </div>
    </div>
</div>