<br />

<div class="card bg-dark;">
    <div class="card-header bg-dark">
        <h6 style="text-align: left; color:antiquewhite;"><b>New Grant</b></h6>
    </div>
    <div class="card-body bg-dark">
        <div class="form-group">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="labels">Grant Number <span class="badge badge-secondary">1044</span></h3>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 labels"><b>Application Status</b></div>
                <div class="col-md-4 labels"><b>Grant Name</b></div>
                <div class="col-md-4 labels"><b>Nick Name</b></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" aria-placeholder="-select one-">
                        <option value="volvo">In Draft</option>
                        <option value="saab">Submitted</option>
                        <option value="mercedes">Contract Signing</option>
                        <option value="audi">Unknown</option>
                        <option value="audi">Under Contract</option>
                    </select>
                </div>
                <div class="col-md-4"><input id="grantName" name="grantName" required minlength="1" maxlength="30"
                        type="text" class="form-control" placeholder="grant name">
                </div>
                <div class="col-md-4"><input type="text" class="form-control" placeholder="nick name"></div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 labels"><b>Status</b></div>
                <div class="col-md-4 labels"><b>Application Due Date</b></div>
                <div class="col-md-4 labels"><b>Application Amount</b></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" aria-placeholder="-select one-">
                        <option value="volvo">Open</option>
                        <option value="saab">Pending</option>
                        <option value="mercedes">Pending</option>
                        <option value="audi">Denied</option>
                        <option value="audi">Shell</option>
                    </select>
                </div>
                <div class="col-md-4"><input type="text" class="form-control" placeholder="Application Due Date">
                </div>
                <div class="col-md-4"><input type="text" class="form-control" placeholder="nick name"></div>
            </div>
        </div>
        <br>
        <hr style="background-color: antiquewhite;">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 labels"><b>Division *</b></div>
                <div class="col-md-4 labels"><b>Project Director *</b></div>
                <div class="col-md-4 labels"><b>Accountant *</b></div>
            </div>
            <div class="row">
                <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="division"></div>
                <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="project director">
                </div>
                <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="accountant"></div>
            </div>
        </div>
        <br>
        <hr style="background-color: antiquewhite;">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 labels"><b>CFDA Number</b></div>
                <div class="col-md-4 labels"><b>Grantor</b></div>
                <div class="col-md-4 labels"><b>Grant Type</b></div>
            </div>
            <div class="row">
                <div class="col-md-4"><input type="text" class="form-control" placeholder="CFDA number"></div>
                <div class="col-md-4">
                    <select class="form-control" aria-placeholder="-select one-">
                        <option value="volvo">DOJ/OJP/NIJ</option>
                        <option value="saab">DOJ/OJP/BVP-DPS</option>
                        <option value="mercedes">DOB/OJP/SMART</option>
                        <option value="audi">DONATIONS</option>
                        <option value="audi">FBI</option>
                        <option value="audi">STATE FUNDS/DPS</option>
                        <option value="audi">FEMA</option>
                        <option value="audi">FHWA-STIP</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" aria-placeholder="-select one-">
                        <option value="volvo">Federal - Competitive</option>
                        <option value="saab">State - Competitive</option>
                        <option value="mercedes">Federal - Formula</option>
                        <option value="audi">State - Formula</option>
                        <option value="audi">Other</option>
                        <option value="audi">Unknown</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 labels"><b>Forecast</b></div>
                <div class="col-md-4 labels"><b>Match % *</b></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" aria-placeholder="-select one-">
                        <option value="volvo">January</option>
                        <option value="saab">February</option>
                        <option value="mercedes">March</option>
                        <option value="audi">April</option>
                        <option value="audi">May</option>
                        <option value="audi">June</option>
                        <option value="audi">July</option>
                        <option value="audi">August</option>
                        <option value="audi">September</option>
                        <option value="audi">October</option>
                        <option value="audi">November</option>
                    </select>
                </div>
                <div class="col-md-4"><input type="text" class="form-control" placeholder="match"></div>
            </div>
        </div>
        <br>
        <hr style="background-color: antiquewhite;">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 labels"><b>Award Date</b></div>
                <div class="col-md-4 labels"><b>Award Amount</b></div>
                <div class="col-md-4 labels"><b>Award Contract Number</b></div>
            </div>
            <div class="row">
                <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="award date"></div>
                <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="award amount">
                </div>
                <div class="col-md-4 labels"><input type="text" class="form-control"
                        placeholder="award contract number"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 labels"><b>Project Start Date</b></div>
            <div class="col-md-4 labels"><b>Project End Date</b></div>
        </div>
        <div class="row">
            <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="project start date">
            </div>
            <div class="col-md-4 labels"><input type="text" class="form-control" placeholder="project end date">
            </div>
        </div>
        <br>
        <input class="btn-two bg-dark block" type="button" value="Submit Grant" />
    </div>
</div>