<div class="card">
    <div class="card-header bg-dark">
        <h6 style="text-align: left; color:antiquewhite;">GAN Information</h6>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-md-4 stat-text-b">Grant Adjustments</div>
            <div class="col-md-2 stat-text-b">Submission Details</div>
            <div class="col-md-2 stat-text-b">GAN Status</div>
            <div class="col-md-2 stat-text-b">GAN Notes</div>
            <div class="col-md-2 stat-text-b">Added By</div>
        </div>
        <div class="row">
            <div class="col-md-4 stat-text"></div>
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text"></div>
            <div class="col-md-2 stat-text"></div>
        </div>
    </div>
</div>