<br />

<div class="col-md-12">
    <app-status-bar [searchStatus]='grantName'></app-status-bar>
</div>
<br />
<div class="col-md-12">
    <input type="button" value="View Expenditures" />
</div>
<br />
<div class="col-md-12">
    <app-grant-detail-panel></app-grant-detail-panel>
</div>
<br />
<div class="col-md-12">
    <app-gan-info-panel></app-gan-info-panel>
</div>
<br />
<div class="col-md-12">
    <app-grant-attachment-panel></app-grant-attachment-panel>
</div>
<br />
<div class="col-md-12">
    <app-report-details-panel></app-report-details-panel>
</div>
<br />
<div class="col-md-12">
    <app-comments-panel></app-comments-panel>
</div>