<div class="card">
    <div class="card-header bg-dark">
        <h6 style="color:antiquewhite;"><b>Statistics</b></h6>
    </div>
    <div class="card-body bg-dark">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 stat-text-b">Total Award Amount: {{stat.totalAwardAmount | currency}}</div>
                <div class="col-md-4 stat-text-b">Total Expenditures: {{stat.totalExpenditures | currency}}</div>
                <div class="col-md-4 stat-text-b">Total Remaining Balance: {{stat.totalRemainingBalance |currency}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 stat-text-b">% of Funds Spent: {{stat.percentageOfFundsSpent | percent}}</div>
                <div class="col-md-4 stat-text-b">Total Grants: {{stat.totalGrants }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 stat-text-b">Total Financial Reports:
                    <span class="badge badge-success">0</span>
                    <span class="badge badge-danger">3</span>
                    <span class="badge badge-warning">1</span>
                    <span class="badge badge-info">9</span></div>
                <div class="col-md-4 stat-text-b">Total Programming Reports:
                    <span class="badge badge-success">1</span>
                    <span class="badge badge-danger">0</span>
                    <span class="badge badge-warning">2</span>
                    <span class="badge badge-info">10</span></div>
            </div>
        </div>
    </div>
</div>