<div class="card">
    <div class="card-header bg-dark">
        <h6 style="text-align: left;color:antiquewhite;">Reporting Details</h6>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-md-3 stat-text-b">Reporting Period</div>
            <div class="col-md-3 stat-text-b">Program Report Due Date</div>
            <div class="col-md-3 stat-text-b">Reporting Period</div>
            <div class="col-md-3 stat-text-b">Financial Report Due Date</div>
        </div>
        <div class="row">
            <div class="col-md-3 stat-text"></div>
            <div class="col-md-3 stat-text"></div>
            <div class="col-md-3 stat-text"></div>
            <div class="col-md-3 stat-text"></div>
        </div>
    </div>
</div>