
<div class="sidenav">
    <div class="row">
        <div class="col-md-6"><a class="btn-two green block"
                [routerLink]="['/']"><i class="fas fa-home"></i>
                &nbsp;Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/add-grant']"><i
                    class="fas fa-plus-square"></i>&nbsp;
                Add Grant</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/fetch-data']"><i
                    class="fas fa-box-open"></i>
                &nbsp;Open Grants</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/fetch-data']"><i
                    class="fas fa-door-closed"></i>
                &nbsp;Closed
                Grants</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/fetch-data']"><i
                    class="fas fa-thumbs-down"></i>
                &nbsp;Denied
                Grants</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block"
                [routerLink]="['/pending-grant']"><i class="fas
                    fa-stopwatch"></i>
                &nbsp;Pending
                Grants</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/fetch-data']"><i
                    class="fas fa-globe-americas"></i>
                &nbsp;All
                Grants</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a class="btn-two green block" [routerLink]="['/fetch-data']"><i
                    class="fas fa-users-cog"></i>
                &nbsp;
                Administrator</a>
        </div>
    </div>
</div>
