<br />
<br />
<div class="col-md-12">
    <div class="row" style="text-align: center;">
        <div class="side">
        </div>
        <div class="side-content">
            <h1 class="">GRANTrak Online Grant Management System</h1>
            <h5 class="">MSHP - Budget and Procurement Division</h5>
            <hr />
            <p class="lead">
                Please, to get started select an option on from the sidebar on the left side of the screen.
            </p>
        </div>
    </div>
</div>

<div class="footer">
    <p style="color:antiquewhite;">Contact Information : 573-751-9000</p>
    <p style="color:antiquewhite;">Active director: Brent, Smith</p>
</div>